In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

In [4]:
dataset = pd.read_csv('../dados/dados.csv', sep=';')
dataset.head()

   CODIGO               MUNICIPIO       PIB  VALOREMPENHO
0     106   SANTANA DO LIVRAMENTO  12240.76    1088666.10
1     113            SANTO ANGELO  16575.82     800669.92
2     118  SAO FRANCISCO DE ASSIS  12037.61     466122.80
3      13         CACAPAVA DO SUL  13674.54     485535.86
4     120             SAO GABRIEL  19912.38     533719.86